*.o
/.deps/
ABOUT-NLS
INSTALL
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h.in
config.rpath
config.sub
configure
depcomp
install-sh
linux/minidlna.init.d.script
m4/
minidlnad
missing
po
tagutils/.deps/
tagutils/.dirstamp
