INSTALL
Makefile
Makefile.in
autom4te.cache/
compile
conf/Makefile
conf/plugins/*.tmp
conf/strongswan.conf.5
config.h
config.h.in
configure
depcomp
init/Makefile
init/systemd-swanctl/Makefile
init/systemd/Makefile
install-sh
libtool
ltmain.sh
m4/config/libtool.m4
man/Makefile
missing
scripts/
src/
testing/Makefile
ylwrap
